{% extends 'base.html' %}

{% block head %}

<title>Товары</title>

{% endblock %}

{% block content %}

<ul>
    <!-- li*5>div.product-card>h2.product-card__title+p.product-card__text
     -->
    <li>
        <div class="product-card">
            <h2 class="product-card__title">Lorem.</h2>
            <p class="product-card__text">Lorem ipsum dolor sit amet.</p>
        </div>
    </li>
    <li>
        <div class="product-card">
            <h2 class="product-card__title">Illo?</h2>
            <p class="product-card__text">Aut eveniet sequi architecto nihil.</p>
        </div>
    </li>
    <li>
        <div class="product-card">
            <h2 class="product-card__title">Consequatur.</h2>
            <p class="product-card__text">Architecto sint ipsam suscipit similique!</p>
        </div>
    </li>
    <li>
        <div class="product-card">
            <h2 class="product-card__title">Necessitatibus.</h2>
            <p class="product-card__text">Eligendi deleniti non officia tenetur.</p>
        </div>
    </li>
    <li>
        <div class="product-card">
            <h2 class="product-card__title">Adipisci!</h2>
            <p class="product-card__text">Ratione itaque modi ipsam quod!</p>
        </div>
    </li>

</ul>

{% endblock %}
