{% extends 'base.html' %}
{% load static %}

{% block head %}

<title>Товары</title>
<link rel="stylesheet" href="{% static 'styles/products.css' %}">

{% endblock %}

{% block content %}

<ul class="product-list">
    <!-- li*5>div.product-card>h2.product-card__title+p.product-card__text
     -->
    <li>
        <div class="product-card">
            <h2 class="product-card__title">Lorem.</h2>
            <p class="product-card__text">Lorem ipsum dolor sit amet.</p>
            <a href="/product/1" class="product-card__link">Подробнее</a>
        </div>
    </li>

</ul>

{% endblock %}
